---
layout: bare
---
<article>

  <main role="main">

    <div class="landing-hero">
      <div class="container">
        <h1 class="display-1"><i>Rayonism</i></h1>
        <p>Scale Ethereum Now!</p>
      </div>
    </div>

    <div class="container landing-content">
      <div class="row">
        <div class="col-sm-12">
          <p>Rayonism is a scaling project around the <a href="https://scaling.ethglobal.co/" target="_blank">ETH Global Scaling Hackathon</a>
            (April 16 - May 14), experimenting with Merge and Sharding Eth1-Eth2 testnets.</p>
          <hr/>
        </div>
        <div class="col-md-4 discord-card">
          <div class="card">
            <div class="adjust">
              <img src="https://cdn.discordapp.com/icons/595666850260713488/a_ea9e6d5f14867dbb9ce93fabc325870b.gif?size=256" alt="discord img" class="rounded-circle" width="100px" height="100px">
              <h1 class="text-servername text-center">Eth R&D <img src="/assets/check.png" height="16" width="16" ></h1>
            </div>

            <div class="card-body bottompart">
              <p class="text-social">Join Discord</p>
              <a type="button" href="https://discord.gg/nwtbUDHJRc" target="_blank" class="join">
                <p class="text-channelname">#rayonism &#9728;&#65039; </p>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-4 specs-card">
          <div class="card">
            <div class="adjust">
              <img src="/assets/bright_eth.png" alt="specs img" width="80px" height="133px">
            </div>

            <div class="card-body bottompart">
              <p class="text-social">Read the Meta-Specs</p>
              <a type="button" href="https://notes.ethereum.org/@protolambda/rayonism" target="_blank" class="join">
                <p class="text-channelname">Rayonism specs</p>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-4 github-card">
          <div class="card">
            <div class="adjust">
              <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="github img" class="rounded-circle" width="120px" height="120px">
            </div>

            <div class="card-body bottompart">
              <p class="text-social">Read the news</p>
              <a type="button" href="https://github.com/ethereum/eth2.0-specs" target="_blank" class="join">
                <p class="text-channelname">eth2.0-specs</p>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <img class="col-md-6" src="/assets/rayonism.jpg" alt="Rayonism">

        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Rayonism</h5>
              <p class="card-text">Rayonism is a style of abstract art developed in Russia.
                Rayonists seek to break the barriers between the artist and the public.</p>
              <strong>&#8220;</strong> A synthesis of Cubism, Futurism and Orphism.
              <p class="card-text text-right"><small class="text-muted">- M. Larionov, Rayonist Manifesto</small></p>
              <p>Rayonist paintings combine the fragmentation and multi-plane approach of Cubism,
                the dynamic movement of Futurism and the colourism of Orphism.</p>
              <p>Or another intepretation: <strong><i>the art of painting a sharded space with rays to a dynamic runtime.</i></strong></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-lg-12">
          {{ content }}
          <p></p>
          <p></p>
        </div>
      </div>

    </div> <!-- /container -->

  </main>

</article>
